version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: plc-backend
    restart: always
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: plc-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
