version: '1.2'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: DbOps-backend
    restart: always
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: DbOps-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
